# 1. Label the sample pairs

In [1]:
import py_entitymatching as em
import pandas as pd

In [2]:
S = em.read_csv_metadata("pairs_sample.csv", key='_id')

Metadata file is not present in the given path; proceeding to read the csv file.

In [3]:
S.head()

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,ltable_interior_color,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color
0,478,4JGDA5HB8HA924396,WDDZF4KB1HA141439,2017 Mercedes-Benz GLE 350 Base 4MATIC,2017,Mercedes-Benz,52679.0,(262) 395-7647,International Porsche of Waukesha,12767.0,...,Black,2017 Mercedes-Benz E-Class E 300 4MATIC Sedan,2017.0,Mercedes-Benz,NaN,847-265-1122,Zeigler Nissan Gurnee,11672.0,NaN,NaN
1,589,WA1LFAFP3FA108602,WA1EFCFS1FR007262,2015 Audi Q5 2.0T Premium Plus quattro,2015,Audi,NaN,(414) 375-2115,Audi North Shore,24370.0,...,Black,2015 Audi Q3 2.0T Premium Plus SUV,2015.0,Audi,26985.0,414-543-3000,INTERNATIONAL AUTOS GROUP,26314.0,Mythos Black Metallic,Black
2,790,5UXWX5C5XBL704359,5UXWX5C52BL701715,2011 BMW X3 28i,2011,BMW,15990.0,(877) 654-8272,Zimbrick BMW,83846.0,...,Oyster,2011 BMW X3 28i SUV,2011.0,BMW,14684.0,(855) 416-3161,Van Horn Latino,85210.0,Gray,Black w/Nevada Leather Upholstery
3,795,2T2BK1BA4DC188639,2T2BK1BA4DC188639,2013 Lexus RX 350 Base,2013,Lexus,23950.0,(608) 478-2657,Lexus of Madison,64361.0,...,Parchment,2013 Lexus RX 350,2013.0,Lexus,23950.0,877-510-3625 877-545-4105,Lexus of Madison,64361.0,STARGAZER BLACK,PARCHMENT
4,973,WAUDFAFL5FN032717,WA1LGAFEXFD013500,2015 Audi A4 2.0T Premium quattro,2015,Audi,NaN,(888) 450-4176,Hall Volkswagen Mazda,39583.0,...,NaN,2015 Audi Q7 3.0T Premium SUV,2015.0,Audi,39253.0,414-543-3000,INTERNATIONAL AUTOS GROUP,39466.0,Graphite Gray Metallic,Black

In [4]:
G = S.copy(deep=True)

In [5]:
G['label'] = G['ltable_vin'] == G['rtable_vin']

In [6]:
G.head()

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color,label
0,478,4JGDA5HB8HA924396,WDDZF4KB1HA141439,2017 Mercedes-Benz GLE 350 Base 4MATIC,2017,Mercedes-Benz,52679.0,(262) 395-7647,International Porsche of Waukesha,12767.0,...,2017 Mercedes-Benz E-Class E 300 4MATIC Sedan,2017.0,Mercedes-Benz,NaN,847-265-1122,Zeigler Nissan Gurnee,11672.0,NaN,NaN,False
1,589,WA1LFAFP3FA108602,WA1EFCFS1FR007262,2015 Audi Q5 2.0T Premium Plus quattro,2015,Audi,NaN,(414) 375-2115,Audi North Shore,24370.0,...,2015 Audi Q3 2.0T Premium Plus SUV,2015.0,Audi,26985.0,414-543-3000,INTERNATIONAL AUTOS GROUP,26314.0,Mythos Black Metallic,Black,False
2,790,5UXWX5C5XBL704359,5UXWX5C52BL701715,2011 BMW X3 28i,2011,BMW,15990.0,(877) 654-8272,Zimbrick BMW,83846.0,...,2011 BMW X3 28i SUV,2011.0,BMW,14684.0,(855) 416-3161,Van Horn Latino,85210.0,Gray,Black w/Nevada Leather Upholstery,False
3,795,2T2BK1BA4DC188639,2T2BK1BA4DC188639,2013 Lexus RX 350 Base,2013,Lexus,23950.0,(608) 478-2657,Lexus of Madison,64361.0,...,2013 Lexus RX 350,2013.0,Lexus,23950.0,877-510-3625 877-545-4105,Lexus of Madison,64361.0,STARGAZER BLACK,PARCHMENT,True
4,973,WAUDFAFL5FN032717,WA1LGAFEXFD013500,2015 Audi A4 2.0T Premium quattro,2015,Audi,NaN,(888) 450-4176,Hall Volkswagen Mazda,39583.0,...,2015 Audi Q7 3.0T Premium SUV,2015.0,Audi,39253.0,414-543-3000,INTERNATIONAL AUTOS GROUP,39466.0,Graphite Gray Metallic,Black,False

In [7]:
G['label'].sum()

211

In [11]:
G['label'] = G['label'].apply(lambda x: 1 if x else 0)

In [12]:
G.head()

,_id,ltable_vin,rtable_vin,ltable_name,ltable_year,ltable_maker,ltable_price,ltable_seller_phone,ltable_seller_name,ltable_miles,...,rtable_name,rtable_year,rtable_maker,rtable_price,rtable_seller_phone,rtable_seller_name,rtable_miles,rtable_exterior_color,rtable_interior_color,label
0,478,4JGDA5HB8HA924396,WDDZF4KB1HA141439,2017 Mercedes-Benz GLE 350 Base 4MATIC,2017,Mercedes-Benz,52679.0,(262) 395-7647,International Porsche of Waukesha,12767.0,...,2017 Mercedes-Benz E-Class E 300 4MATIC Sedan,2017.0,Mercedes-Benz,NaN,847-265-1122,Zeigler Nissan Gurnee,11672.0,NaN,NaN,0
1,589,WA1LFAFP3FA108602,WA1EFCFS1FR007262,2015 Audi Q5 2.0T Premium Plus quattro,2015,Audi,NaN,(414) 375-2115,Audi North Shore,24370.0,...,2015 Audi Q3 2.0T Premium Plus SUV,2015.0,Audi,26985.0,414-543-3000,INTERNATIONAL AUTOS GROUP,26314.0,Mythos Black Metallic,Black,0
2,790,5UXWX5C5XBL704359,5UXWX5C52BL701715,2011 BMW X3 28i,2011,BMW,15990.0,(877) 654-8272,Zimbrick BMW,83846.0,...,2011 BMW X3 28i SUV,2011.0,BMW,14684.0,(855) 416-3161,Van Horn Latino,85210.0,Gray,Black w/Nevada Leather Upholstery,0
3,795,2T2BK1BA4DC188639,2T2BK1BA4DC188639,2013 Lexus RX 350 Base,2013,Lexus,23950.0,(608) 478-2657,Lexus of Madison,64361.0,...,2013 Lexus RX 350,2013.0,Lexus,23950.0,877-510-3625 877-545-4105,Lexus of Madison,64361.0,STARGAZER BLACK,PARCHMENT,1
4,973,WAUDFAFL5FN032717,WA1LGAFEXFD013500,2015 Audi A4 2.0T Premium quattro,2015,Audi,NaN,(888) 450-4176,Hall Volkswagen Mazda,39583.0,...,2015 Audi Q7 3.0T Premium SUV,2015.0,Audi,39253.0,414-543-3000,INTERNATIONAL AUTOS GROUP,39466.0,Graphite Gray Metallic,Black,0

In [13]:
G.to_csv('pairs_sample_label.csv', index=False)

In [14]:
!ls

block.ipynb             features.ipynb          pairs_sample.csv
cars_com_clean.csv      label.ipynb             pairs_sample_label.csv
cars_com_luxury.csv     market_api_clean.csv    read-csv.ipynb
cars_sample.csv         market_check_luxury.csv sample.ipynb
down-sampling.ipynb     market_sample.csv
feature_table.csv       pairs.csv